/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #534646;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilo do cabeçalho */
h1 {
    color: #2e8b57;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo da tela inicial */
#startScreen {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #2e8b57;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#startScreen h2 {
    color: #555555;
    margin-bottom: 15px;
}

#startButton {
    background-color: #2e8b57;
    color: #ffffff;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #1d5e3b;
}

/* Estilo do canvas do jogo */
#gameCanvas {
    border: 2px solid #2e8b57;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
