#startScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px; /* Largura fixa do "quadro" */
    height: 600px; /* Altura fixa do "quadro" */
    background-color: #505c3f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%); /* Centraliza o quadro na tela */
    border: 2px solid white; /* Adiciona borda simulando um canvas */
    border-radius: 10px; /* Bordas arredondadas para suavidade */
    z-index: 9999;
}

#startScreen h1 {
    font-size: 1.8rem; /* Reduzi um pouco o tamanho para caber bem no quadro */
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px; /* Tamanho ajustado para combinar com o novo layout */
    cursor: pointer;
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #218838; /* Verde mais escuro */
}


